body {
    background-image: linear-gradient(to bottom right, #84fab0, #8fd3f4);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    width: 100vw;
}

#grid {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    aspect-ratio: 1/1;
    margin: 0;
    padding: 0;
}

#slide-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
}

/* Edit the slider itself */
.slider {
    -webkit-appearance: none;
    width: 11rem;
    height: 0.625rem;
    border-radius: 0.32rem;  
    background: white;
    border: 0.0625rem solid black;
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

/* Edit slider handle for Chromium-based browsers */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 50%; 
    background: black;
    cursor: pointer;
}

/* Edit slider handle for Firefox browser */
.slider::-moz-range-thumb {
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 50%;
    background: black;
    cursor: pointer;
}

#header {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 17.5%;
    width: 100%;
}

#bottom {
    height: 12.5%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#title {
    font-family: 'Cabin Sketch', 'Roboto', sans-serif;
    font-size: 5rem;
}

#middle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70%;
    padding: 0;
} 

#left-column {
    width: 33.33%;
    display: flex;
    justify-content: flex-end;
}

#inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-right: 6rem;
}

#right-column {
    width: 33.33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

#button {
    width: 11rem;
    height: 2rem;
    background-color: transparent;
    font-size: 1.125rem;
    border-radius: 0.32rem;
    border: 0.0625rem solid black;
    color: black;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0 1px 6px rgb(0 0 0 / 0.7);
    transition: transform .2s;
    font-family: inherit;
}

#button:hover, #color-picker:hover {
    transform: scale(1.1);
}

#button.custom {
    background-color: black;
    color: #87f2bf;
}

#current-size {
    color: black;
    font-weight: bold;
}

#footer {
    text-align: center;
    color: black;
    margin-bottom: 0.5rem;
}

#button:active {
    background: #00000044;
}

#color-picker {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    width: 6.25rem;
    height: 6.25rem;
    border: none;
    cursor: pointer;
    transition: transform .2s;
}

/* Color picker styling for WebKit browsers */
#color-picker::-webkit-color-swatch { 
    border-radius: 50%;
    border: none;
    box-shadow: 0 1px 6px rgb(0 0 0 / 0.7);
}

/* Color picker styling for Firefox */
#color-picker::-moz-color-swatch {
    border-radius: 50%;
    border: none;
    box-shadow: 0 1px 6px rgb(0 0 0 / 0.7);
}

/* GitHub footer icon styling */
.fa-github {
    color: black;
    font-size: 1.5rem;
    transition: transform 0.3s ease-in-out;
}
  
/* GitHub footer icon animation on hover */
.fa-github:hover {
    transform: rotate(360deg) scale(1.2);
}
